#banner {
  background-color: #0A254E;
  color: white;
  width: 100%;
  padding: 20px;
  /*position: fixed;*/
  left: 0px;
  right: 0px;
  top: 0px;
}

#banner h1 {
  text-align: center;
}

#banner h3 {
  text-align: center;
}

#content {
  background-color: black;
}
code { white-space: pre; }

#jules {
  font-size: 1em;
}
